/* FONTS */
$fonts: (roomy, roomy-6, normal, normal), (roomy, roomy-5, normal, bold), (RobotoMono-Light, RobotoMono-Light, normal, 300), (RobotoMono, RobotoMono-Regular, normal, normal), (RobotoMono, RobotoMono-Medium, normal, 500), (RobotoMono, RobotoMono-SemiBold, normal, 700)

@each $fontName, $fontFileName, $fontStyle, $fontWeight in $fonts
    @font-face
        font-family: '#{$fontName}'
        src: url('../fonts/#{$fontFileName}.eot')
        src: url('../fonts/#{$fontFileName}.otf') format('otf')
        /* IE9 Compat Modes */
        src: url('../fonts/#{$fontFileName}.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        src: url('../fonts/#{$fontFileName}.woff') format('woff'),
        src: url('../fonts/#{$fontFileName}.woff2') format('woff2'),
        /* Modern Browsers */
        src: url('../fonts/#{$fontFileName}.ttf') format('truetype'),
        /* Safari, Android, iOS */
        src: url('../fonts/#{$fontFileName}.svg##{$fontName}') format('svg')
        /* Legacy iOS */
        font-style: #{$fontStyle}
        font-weight: #{$fontWeight}
        text-rendering: optimizeLegibility