/* FONTS */
$fonts: (roomy, roomy-6, normal, normal), (roomy, #{$fontFileName}, normal, bold), (RobotoMono, RobotoMono-Light, normal, 300), (RobotoMono, RobotoMono-Regular, normal, normal), (RobotoMono, RobotoMono-Medium, normal, 500), (RobotoMono, RobotoMono-SemiBold, normal, 700)

@each $fontName, $fontFileName, $fontStyle, $fontWeight in $fonts
    @font-face
        font-family: '#{$fontName}'
        src: url('../fonts/#{$fontFileName}.eot')
        src: url('../fonts/#{$fontFileName}.eot?#iefix') format('embedded-opentype'), url('../fonts/#{$fontFileName}.otf') format('otf'), url('../fonts/#{$fontFileName}.svg##{$fontFileName}') format('svg'), url('../fonts/#{$fontFileName}.ttf') format('truetype'), url('../fonts/#{$fontFileName}.woff') format('woff'), url('../fonts/#{$fontFileName}.woff2') format('woff2')
        font-style: #{$fontStyle}
        font-weight: #{$fontWeight}
        text-rendering: optimizeLegibility

