/* HEADER */
header

    nav
        height: 100px
        position: fixed
        top: 0
        transition: $transition
        width: 100%
        z-index: 98

        +mobile
            height: 120px

        div
            background-color: $primary-color
            height: 45px
            display: flex
            align-items: center
            justify-content: center

            +mobile
                height: 57px

            p
                font-family: 'RobotoMono'
                font-weight: 500
                text-align: center
                color: #fff
                text-transform: uppercase

                br
                    display: none

                    +mobile
                        display: block

                +mobile
                    font-size: 11px
                    font-weight: 400

        .logo-mobile
            background: url(../imgs/logo.png) no-repeat center
            background-size: 100%
            display: none
            height: 28px
            left: 25px
            position: absolute
            text-align: center
            top: 50%
            transform: translateY(-50%)
            width: 106px

            +mobile
                display: block
                width: 200px
                height: 35px
                top: 90px
                left: 50%
                transform: translate(-50%, -50%)

        .btn-menu
            background-color: #fff
            cursor: pointer
            display: none
            height: 24px
            position: absolute
            left: 15px
            top: 50%
            transform: translateY(-50%)
            width: 30px

            +mobile
                background-color: #fff
                display: block
                top: 83px
                transform: unset

            span
                background-color: #fff
                display: block
                margin-bottom: 10px
                height: 1px
                transition: $transition
                width: 30px

                &:last-of-type
                    margin-bottom: 0

            &.btn-close

                span

                    &:nth-of-type(1)
                        transform: rotate(22deg)
                        transform-origin: left top

                    &:nth-of-type(2)
                        transform: rotate(-22deg)
                        transform-origin: left top

        &.white
            background: #fff
            border-bottom: 1px solid #000
            border-top: 1px solid #000
            box-shadow: 0 2px 10px 0px rgba(0,0,0,0.3)

            .logo-mobile
                background: url(../imgs/logo.png) no-repeat center

            .btn-menu

                span
                    background-color: $primary-color

            ul

                li

                    &.logo-nav
                        display: inline
                        padding: 0 100px
                        position: relative

                        +tablet
                            padding: 0 50px

                        +mobile
                            display: none

                        a
                            background: url(../imgs/logo.png) no-repeat center
                            background-size: 100%
                            display: inline-block
                            height: 28px
                            left: 50%
                            position: absolute
                            text-align: center
                            top: 50%
                            transform: translate(-50%, -50%)
                            width: 106px

                            &:before
                                content: "• "
                                opacity: 0

                    a
                        color: #000 !important

        ul
            list-style: none
            left: 50%
            position: absolute
            top: calc(50% + 21px)
            transform: translate(-50%, -50%)
            text-align: center
            width: 100%

            +mobile
                display: none

            li
                display: inline
                margin-right: 30px
                text-align: center

                &.logo-nav
                    display: none

                &:last-of-type
                    margin-right: 0

                a
                    color: #fff !important

                    &:before
                        content: "• "
                        opacity: 0

                    &:hover,
                    &.active
                        text-decoration: none !important

                        &:before
                            content: "• "
                            opacity: 1

        &.open-mobile
            background-color: #111
            height: 100vh
            top: 0
            position: fixed
            width: 100%

            ul
                display: block
                left: 50%
                right: unset
                transform: translate(-50%, -50%)

                li
                    display: block
                    margin-right: 0
                    margin-bottom: 20px

                    &.logo-nav
                        display: none

                    &:last-of-type
                        margin-bottom: 0

                    +mobile
                        margin-bottom: 15px

                    a
                        color: #d8d6d8
                        font-size: 20px
                        text-align: center

                        +tablet
                            font-size: 30px
                            margin-bottom: 15px

                        +mobile
                            font-size: 18px

                        &:hover,
                        &.active
                            color: #d9001d
                            text-decoration: none

        &.open-mobile.white
            background-color: #fff

    .slider
        min-height: 400px
        height: 100vh
        left: 0
        position: relative
        top: 0px
        width: 100%

        +mobile
            min-height: unset

        .slogan
            bottom: 45%
            position: absolute
            left: 50%
            transform: translateX(-50%)

            +mobile 
                bottom: 25%
                position: absolute
                left: 50%
                transform: translateX(-50%)

            h2
                color: #fff
                font-size: 65px
                font-weight: 700
                line-height: 60px
                text-align: center

                +mobile 

                    display: block
                    font-size: 40px
                    padding: 50px


        .block
            background-color: #728963
            left: -100vw
            position: absolute
            top: 50%
            transform: translateY(-50%)
            width: 22.5%
            z-index: 97

            +tablet
                width: 25%

            +mobile
                top: 52.5%
                width: 60%

                h3
                    color: #fff
                    font-size: 18px
                    font-weight: bold
                    margin-bottom: 25px

                p
                    color: #fff
                    font-size: 10px

        .bx-viewport, .bx-wrapper
            position: relative
            width: 100%
            height: 100%
            left: 0

        .bxslider, .bxslider li
            height: 100%

        .bx-wrapper
            border: 0

            .bx-pager.bx-default-pager 
                
                a
                    opacity: 1

                    &.active
                        background-color: transparent
                        border: 1px solid #fff

            .bx-viewport
                border: none

            img
                width: 100%

            .bx-pager-item
                padding: 0 5px