/* WHERE WE ARE SECTION */
section#where-we-are

    .text
        display: flex
        flex-direction: column
        justify-content: space-between

        +mobile
            align-items: start
            margin: $mobile-space
            margin-bottom: 0

        h2
            font-size: 20px
            font-weight: 700
            line-height: 24px
            margin-top: 30px
            margin-left: 30px

            +mobile
                font-size: 20px
                max-width: 250px
                text-align: start
                margin: 0
                margin-bottom: $mobile-space * .5

                br
                    display: none

        p
            max-width: 400px
            font-size: 14px
            font-weight: 700
            margin-bottom: 30px
            margin-left: 30px 


            +tablet
                text-align: start
                font-size: 13px

            +mobile
                max-width: unset
                font-size: 13px
                font-weight: 500
                margin: 0

    #map
        height: calc(100vh  -  100px)

        +mobile
            height: calc(100vh  -  120px)

    .map
        position: relative

        &.wrapper
            
            +mobile
                margin: $mobile-space

        img
            position: relative
            width: 100%

        .filter
            background-color: #CED6BC
            position: absolute
            width: 100%
            top: 0
            left: 0
            opacity: .8
            z-index: 1
            mix-blend-mode: multiply
